<html>

<head>
    <title>Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Space Grotesk' rel='stylesheet'>
    <style>
        body {
            font-family: 'Space Grotesk';
            font-size: 22px;
            background: #091F2E;
            color: #38C9A6;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Error</h1>
    Can't find this repo. <br>
    <a href="/">Go back</a>
</body>

</html>