<html>

<head>
    <title>Notty OSS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Space Grotesk' rel='stylesheet'>
    <style>
        body {
            font-family: 'Space Grotesk';
            font-size: 22px;
            background: #091F2E;
            color: #38C9A6;
            text-align: center;
        }
    </style>
</head>

<body>

    <h1>Notty OSS</h1>
    <form action="/result">
        Enter a GitHub repository, a PyPI package link, or an NPM link:<br>
        <input type="text" name="URL">
        <input type="submit">
    </form>
    Please wait for the results to load.
</body>

</html>